<div class="bg-love vh-100 vw-100">
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center h-100 gap-3">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img1.jpeg" class="card-img-top object-fit-cover" alt="...">
            <div class="card-body">
                <p class="card-text">Um dos dias mais fodas ao lado dela no pico das cabras</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img2.jpeg" class="card-img-top object-fit-cover" alt="...">
            <div class="card-body">
                <p class="card-text">Eu e ela tirando foto em um Iphone 14 Pro Max</p>
            </div>
        </div>
    </div>
</div>